<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu usuario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt=Logo de MercadoLiebre">
            </div>
            <div class="form">
                <p>
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
                </p>
            </div>
            <p>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav>
            <ul class="ofertas-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login-nav">
                <li>
                    <a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main class="register">
        <form action="/register" method="post" class="form-register">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="locker" required minlength="3">
            <input type="text" name="username" id="username" placeholder="Nombre de usuario" class="locker" required minlength="3">

            <h4 class="subtitles">Fecha de nacimiento</h4>
            <input type="date" name="birthday" id="birthday">

            <input type="text" name="address" id="address" placeholder="Domicilio" class="locker" required minlength="5">

            <h4 class="subtitles"> Perfil de usuario </h4>
            <div>
                <input type="radio" value="Comprar" name="purchase" id="purchase">
                <label for="comprar">Comprar</label>
            </div>
            <div>
                <label for="vender">
                    <input type="radio" value="Vender" name="purchase" id="sell">
                    Vender
                </label>
            </div>


            <h4 class="subtitles">Categorías de interés</h4>
            <div>
                <input type="checkbox" name="category" value="Electro" >
                <label for="selection">Electro</label>
            </div>
            <div>
                <input type="checkbox" name="category" value="Moda">
                <label for="selection">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="category" value="Hogar">
                <label for="selection">Hogar</label>
            </div>
            <div>
                <input type="checkbox" name="category" value="Juguetería">
                <label for="selection">Juguetería</label>
            </div>
            <div>
                <input type="checkbox" name="category" value="Vida Sana">
                <label for="selection">Vida Sana</label>
            </div>


            <h4 class="subtitles">Foto de perfil</h4>
            <input type="file" name="avatar" accept=".jpg" multiple>

            <input type="password" name="clave" placeholder="Contraseña" required class="locker" required minlength="3">
            <input type="password" name="confirmarClave" placeholder="Confirmar contraseña" required class="locker" required minlength="3">

            <div class="buttons">
                    <a href="/" class="submit-button"><button>ENVIAR</button></a>
                <button type="delete" class="deletle-button">Borrar todo</button>
            </div>
        </form>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card" id="card-logo"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de
                Mercado Puntos.
            </p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </article>
        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>

</html>